<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190276600651-vtpvuk79ufeafi70udkpj5idlens02mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190276600651-vtpvuk79ufeafi70udkpj5idlens02mc</string>
	<key>API_KEY</key>
	<string>AIzaSyDo3ahwdjT2Dz6oSshTKZWrCHaIy51DJow</string>
	<key>GCM_SENDER_ID</key>
	<string>190276600651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LetsMeet</string>
	<key>PROJECT_ID</key>
	<string>lets-meet-1035d</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-meet-1035d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190276600651:ios:61c9236388ceba05351ece</string>
</dict>
</plist>